.block
  height: pxToRem(160)
  +mobile()
    height: auto

.inputBox
  border-bottom-width: pxToRem(1)
  border-style: solid

.text
  max-width: pxToRem(688)
  +mobile()
    max-width: auto

.emailInput:-webkit-autofill,
.emailInput:-webkit-autofill:hover,
.emailInput:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #edf1f3  inset !important;
}

.anchor
  transform: translateY(pxToRem(-100))
