.block
  height: pxToRem(160)

.inputBox
  border-bottom-width: pxToRem(1)
  border-style: solid

.emailInput:-webkit-autofill,
.emailInput:-webkit-autofill:hover,
.emailInput:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #edf1f3  inset !important;
}
