.menu
  min-height: pxToRem(790)
  width: 50vw + pxToRem(10)
  -webkit-overflow-scrolling: touch
  li
    transition: color 0.2s ease
  +mobile()
    min-height: 100vh
    width: 100vw

.close
  width: pxToRem(10)
  height: pxToRem(10)

.top
  height: pxToRem(30)

.menuBox
  transition: transform 0.3s ease

.menuOpen
  transform: none

.menuClosed
  transform: translateX(100%)

.sectionLink
  text-decoration: none !important

.closeButton
  +mobile()
    margin-right: pxToRem(-20)
