@font-face
  font-family: 'Favorit'
  src: url('/fonts/FavoritTrialPro-Regular.woff') format('woff'),
  url('/fonts/FavoritTrialPro-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Lazurski'
  src: url('/fonts/LazurskiC.woff') format('woff'),
  url('/fonts/LazurskiC.woff2') format('woff2')
  font-weight: normal
  font-style: normal
