@font-face
  font-family: 'Favorit'
  src: url('/fonts/FavoritPro-Book.woff') format('woff'),
  url('/fonts/FavoritPro-Book.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Lazurski'
  src: url('/fonts/LazurskiC.woff') format('woff'),
  url('/fonts/LazurskiC.woff2') format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Wremena'
  src: url('/fonts/Wremena.woff') format('woff'),
  url('/fonts/Wremena.woff2') format('woff2')
  font-weight: normal
  font-style: normal
