html
  font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH * 100) vw
  +mobile()
    font-size: ($ROOT_FONT_SIZE / $CANONIC_SCREEN_WIDTH_M * 100) vw

html,
body
  font-family: Favorit, Helvetica, sans-serif
  font-weight: normal
  color: #3a3a3a
