.text-xl
  font-family: Lazurski, serif
  font-size: pxToRem(60)
  line-height: 0.9

text-xs()
  font-size: pxToRem(12)
  line-height: 1

.text-xs
  text-xs()

.text-m
  font-family: Favorit, Helvetica, sans-serif
  font-size: pxToRem(24)
  line-height: 1.25

.text-m-alt
  font-family: Lazurski, serif
  font-size: pxToRem(24)
  line-height: 1.25
