l()
  font-family: Lazurski, serif

f()
  font-family: Favorit,  Helvetica, sans-serif

a()
  font-family: Arrows, Arial, sans-serif

.a
  a()

.text-xs-L
  l()
  font-size: pxToRem(12)
  line-height: 1

.text-xs-F
  f()
  font-size: pxToRem(12)
  line-height: 1

.text-xs-F-h
  f()
  font-size: pxToRem(12)
  line-height: (16 / 12)

.text-s-L
  l()
  font-size: pxToRem(20)
  line-height: 1

text-s-F()
  f()
  font-size: pxToRem(20)
  line-height: 1

.text-s-F
  text-s-F()

.text-s-L-c
  l()
  font-size: pxToRem(20)
  line-height: 0.9
  letter-spacing: 0.01em

.text-s-F-c
  f()
  font-size: pxToRem(20)
  line-height: 0.9
  letter-spacing: 0.01em

.text-s-F-c-sm
  f()
  font-size: pxToRem(20)
  line-height: 0.9
  letter-spacing: 0.01em
  +mobile()
    font-size: pxToRem(12)
    letter-spacing: auto

.text-s-L-e
  l()
  font-size: pxToRem(20)
  line-height:  1.1

.text-s-F-e
  f()
  font-size: pxToRem(20)
  line-height: 1.1

.text-m-L
  l()
  font-size: pxToRem(24)
  line-height: (30 / 24)
  +mobile()
    font-size: pxToRem(16)
    line-height: (20 / 16)

.text-m-F
  f()
  font-size: pxToRem(24)
  line-height: (30 / 24)
  +mobile()
    font-size: pxToRem(16)
    line-height: (20 / 16)

.text-m-F-sm
  f()
  font-size: pxToRem(24)
  line-height: (30 / 24)
  +mobile()
    font-size: pxToRem(20)
    line-height: (30 / 20)

.text-m-L-c
  l()
  font-size: pxToRem(24)
  line-height: 0.9
  +mobile()
    font-size: pxToRem(20)

.text-m-F-c
  f()
  font-size: pxToRem(24)
  line-height: 0.9

.text-m-L-cc
  l()
  font-size: pxToRem(24)
  line-height: 0.79

.text-m-A-cc
  a()
  font-size: pxToRem(24)
  line-height: (12 / 24)

.text-m-F-cc
  f()
  font-size: pxToRem(24)
  line-height: 0.79

.text-l-L
  l()
  font-size: pxToRem(40)
  line-height: 1

.text-l-F
  f()
  font-size: pxToRem(40)
  line-height: 1

.text-l-L-c
  l()
  font-size: pxToRem(40)
  line-height: 0.9

.text-l-F-c
  f()
  font-size: pxToRem(40)
  line-height: 0.9
  +mobile()
    font-size: pxToRem(20)
    line-height: 1

.text-xl-L
  l()
  font-size: pxToRem(60)
  line-height: 0.9
  +mobile()
    font-size: pxToRem(40)

.text-xl-F
  f()
  font-size: pxToRem(60)
  line-height: 0.9

.text-xl-L-c
  l()
  font-size: pxToRem(60)
  line-height: 0.79

.text-xl-F-c
  f()
  font-size: pxToRem(60)
  line-height: 0.79

.text-xxl-L
  l()
  font-size: pxToRem(167)
  line-height: 0.79
  +mobile()
    font-size: pxToRem(43)

.text-xxl-F
  f()
  font-size: pxToRem(167)
  line-height: 0.79
  +mobile()
    font-size: pxToRem(43)
