.videoNav
  right: pxToRem(20)
  bottom: pxToRem(50)
  box-shadow: 0 pxToRem(4) pxToRem(14) rgba(0, 0, 0, 0.25);
  transition: opacity 0.2s ease
  width: pxToRem(170)
  height: pxToRem(95)
  +mobile()
    width: pxToRem(80)
    height: pxToRem(45)
    right: pxToRem(10)

.videoBox
  left: 50%
  top: 50%
  transform: translate(-50%, -50%) scale(0.3)
  width: 500%
  height: 500%
