.live:before
  content: ''
  position: absolute
  display: block
  width: pxToRem(6)
  height: pxToRem(6)
  background-color: #3A3A3A
  top: 50%;
  left: pxToRem(-9)
  transform: translateY(-70%)
  border-radius: 9999px

.logo
  letter-spacing: 0.02em

.header
  height: pxToRem(30)
