.partners
  > * + *
    +mobile()
      margin-top: pxToRem(50)

.flaconLogoBox
  margin-left: pxToRem(-80)
  +mobile()
    margin-left: 0
.flaconLogo
  width: pxToRem(164)
  height: pxToRem(50)
.senseLogo
  width: pxToRem(120)
  height: pxToRem(42)
.lymLogo
  width: pxToRem(65)
  height: pxToRem(65)


.finalBlock
  height: 50vh

.creditText
  a
    font-family: Favorit,  Helvetica, sans-serif !important
    text-decoration: none !important
    font-size: 1em !important
