.partners
  > * + *
    +mobile()
      margin-top: pxToRem(50)

.flaconLogo
  width: pxToRem(164)
  height: pxToRem(50)
  margin-left: pxToRem(-80)
  +mobile()
    margin-left: 0
.senseLogo
  width: pxToRem(120)
  height: pxToRem(42)
.lymLogo
  width: pxToRem(65)
  height: pxToRem(65)


.finalBlock
  height: 50vh
