.aliLogo
  width: pxToRem(238)
  height: pxToRem(32)
  +mobile()
    width: pxToRem(130)
    height: pxToRem(18)
.ornamikaLogo
  width: pxToRem(230)
  height: pxToRem(32)
  +mobile()
    width: pxToRem(150)
    height: pxToRem(21)
.twoAndHalfLogo
  width: pxToRem(235)
  height: pxToRem(38)
  +mobile()
    width: pxToRem(166)
    height: pxToRem(27)
